html {
  background: url("/images/bg.png") repeat-x scroll center top #81a0e2;}
h2 {
  background-color: lightseagreen;
  color: white;
  font-size: 40px;
  position: relative;
  top: 100px;
}

html h1 {
  background-color: #9b4140; 
   color: #089fdb;
   right: 1000px;
  text-align: center;
  font-size: 80px;
}
 body {
  height:100%;
  padding:0;
   margin:0;
 }
 

html h2 {
  position: relative;
  top: 20px;
  text-align: center;
  top: -5.4%;
}

div1 {
  /*basic styles*/
  width: 250px;
  height: 50px;
  color: white;
  background-color: lightseagreen;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  /*border styles*/
  border-top: solid 7px lightseagreen;
  border-bottom: solid 10px lightseagreen;
  border-right: solid 10px lightseagreen;
  border-left: solid 10px lightseagreen;
  border-radius: 100px;
  bottom: -30px;
  top:-9.3%;
  position:relative;
}

div1:hover {
  color: #fff;
  background-color: black;
  -webkit-transition: 2s;
  transition: 2s;
  border-top: solid 7px black;
  border-bottom: solid 10px black;
  border-right: solid 10px black;
  border-left: solid 10px black;
  border-radius: 100px;
  bottom: -30px;
}




html .wrapper b {
  width: 120px;
  height: 80px;
  border: 3px solid #ff0000;
  color: #000000;
  margin: 100px;
  font-size: 30px;
  border: 2px solid #ff0000;
  color: #000000;
 
  
  
  margin: 10px;
  font-family: sans-seriff;
  position: relative;
  bottom: -350px;
  left: -0px;
}

h4{
 
  text-decoration: none;
  border: 2px solid #ff0000;
  font-size: 30px;
  font-family: sans-seriff;
  position: absolute;
  left: 1640px;
  top: 500px;

}

html .container {
  position: absolute;
  width: 200px;
  height: 200px;
  display: inline-block;
  top: 400px;
  left: 600px;
}

html .image {
  display: block;
  width: 200px;
  height: 200px;
}



html .container:hover {
transform: scale(2);
transition: 3s;
position: absolute;

}

html .overlay {
  position: absolute;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
  background-color: #eee;
}

html .container:hover .overlay {
  opacity: 1;
}

html .text {
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;


}

html .wrapper d {
  /*basic styles*/
  width: 250px;
  height: 50px;
  color: #171717;
  background-color: #4f4f4f;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  position: absolute;
  /*border styles*/
  border-top: solid 2px #8f8f8f;
  border-bottom: solid 2px #1a1a1a;
  border-left: solid 2px #4f4f4f;
  border-right: solid 2px #4f4f4f;
  border-radius: 10px;
  left: 1670px;
  top: 140px;
}

html .wrapper b:hover, html .wrapper c:hover {
  color: #fff;
  background-color: red;
  -webkit-transition: 2s;
  transition: 2s;
}

h4:hover {
  color: #fff;
  background-color: red;
  -webkit-transition: 2s;
  transition: 2s;
  transform: scale(1.2)
  
}



html .wrapper d:hover {
  background-color: white;
  -webkit-transition: 2s;
  transition: 2s;
  color: blue;
}

html .wrapper e:hover {
  background-color: white;
  color: blue;
  -webkit-transition: 2s;
  transition: 2s;
}

h5 {
  left: 20px;
}

html .wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  width: 80%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  -webkit-transition: 4s;
  transition: 4s;
}
/*# sourceMappingURL=style.css.map */